@{
    ViewBag.Title = "About";
}
<div class="container-fluid" style="margin-top:15px;">
    <img src="~/images/16.png" style="width:100%"  />
    <h2 style="color:black;  font-size:22px; border-bottom:1px solid grey;margin: 10px 0px;">About Us</h2>

    <p>
        &bull; <a href="profile.html">Our Profile</a><br />
        &bull; <a href="mission.html">Our Mission and Vision</a><br />
        &bull; <a href="differentiator.html">Brisk Differentiator</a><br />
    </p>
</div>