@{
    ViewBag.Title = "Contact";
}
<div class="container-fluid">
    <img src="~/Images/20.png" style="width:100%" />
    <h2 style="color:black;  font-size:22px; border-bottom:1px solid grey;margin: 10px 10px;">Contact Us</h2>
    <p style="width:100%; text-align:center; font-size:14px;margin:10px 0px 0px 0px;">
        <b>Head Office</b><br /><br />

        <b>Address :</b> 204, Ashoka Apartment, <br />Ranjit Nagar Commercial Complex,<br /> New Ranjit Nagar,<br /> New Delhi-110008<br />
        <b>Mobile :</b> +91 - 9810285369<br />
        <b>Tel :</b> 45095369<br />
        <b>Email :</b> <a href="mailto: briskinfotech@yahoo.co.in"><b>briskinfotech@yahoo.co.in</b></a> <br /><br />
    </p>
    <div style="text-align:end">
        <input type="button" name="btnPostQuery" id="btnPostQuery" value="Post a Query / Issue" class="largeButton" />
    </div>
    <br />
</div>


